:root {
	font-family: 'Source Code Pro', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		'游ゴシック', sans-serif;
	--font-mono: 'Source Code Pro', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #008cff;
	--accent-color-deep: #0061df;
	--accent-color-bright: #66ccff;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--buttonFill: #008cff;
}

body {
	min-height: 100vh;
	margin: 0;
	font-weight: 600;
	color: var(--text-color);
	background-color: var(--pure-white);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
p {
	font-weight: 600;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

textarea {
	border: 2px solid #333;
	padding: 0.5rem;
	border-radius: 1rem;
}

input[type="text"] {
	font-size: inherit;
	font-family: inherit;
	color: var(--text-color);
	border: 2px solid #333;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

button {
	font-size: inherit;
	font-family: inherit;
	color: var(--pure-white);
	background: var(--accent-color);
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	position: relative;
}

/* button:hover {
	background-color: var(--accent-color-deep);
}

button:disabled {
	background-color: var(--accent-color-bright);
} */

button:focus:not(:focus-visible) {
	outline: none;
}

button::after {
	transition: background 0.3s linear;
	content: '';
	display: inline-block;
	border-radius: 0.5rem;
	background: #0000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

button:hover::after {
	background: #0006;
}

button:disabled::after {
	background: #fffa;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}